<!-- your html code here -->
<div class="d-flex justify-content-start">
    <div class="w-100 px-5 pt-5">
        <h2 class="fs-1"><strong>This First Heading</strong> <strong class="text-muted">Will Catch Your Eyes</strong></h2>
        <p class="fs-5"> Necessitatibus hic tenetur error rerum distinctio, optio quam odio ratione porro ab earum amet
            nesciunt molestiae, incidunt repudiandae quas tempore, temporibus numquam.</p>
    </div>
    <div>
        <img class="rounded-circle"
            src="https://github.com/conpantuflas/exercise-collaborative-html-website/blob/master/website/assets/img/1.jpg?raw=true" />
    </div>
</div>