<h1 style="padding-right: 3rem; padding-left: 3rem; font-weight: bolder">Portfolio</h1>
<p style="padding-right: 3rem; padding-left: 3rem; font-size: 1.25rem; text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Morbi tincidunt dapibus libero at consequat. Donec vitae diam rutrum, fermentum dui id, malesuada mauris.</p>
<div class="card-group" style="padding-right: 3rem; padding-left: 3rem">
    <div class="card border-light mb-3">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: rgb(37, 68, 248)">Project Name</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card border-light mb-3">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: rgb(37, 68, 248)">Project Name</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card border-light mb-3">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: rgb(37, 68, 248)">Project Name</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>

